aiohttp==3.6.2
APScheduler==3.6.3  
asgiref==3.2.10     
astroid==2.4.2      
async-timeout==3.0.1
attrs==19.3.0       
autopep8==1.5.4     
backcall==0.2.0     
certifi==2020.6.20  
chardet==3.0.4      
colorama==0.4.3     
decorator==4.4.2    
decouple==0.0.7     
discord-ext-menus==1.0.0a26+g84caae8
discord.py==1.4.1
Django==3.1
dpymenus==1.1.0
emoji==0.6.0
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
mccabe==0.6.1
multidict==4.7.6
numpy==1.19.0
parso==0.7.1
pickleshare==0.7.5
prompt-toolkit==3.0.7
pycodestyle==2.6.0
Pygments==2.6.1
pylint==2.5.3
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pyzmq==19.0.2
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
tzlocal==2.1
wcwidth==0.2.5
websockets==8.1
wrapt==1.12.1
yarl==1.4.2